/***********************************/
/*                                 */
/*  Formation OpenClassrooms       */
/*  Developpeur WEB                */
/*  Manuel MILLET                  */
/*  Projet 03 OHMYFOOD             */
/*                                 */
/* 25-03-2022                      */
/***********************************/
/*  elements de base */
/****************************************************/
/*   box-sizing est appliqué à tous les éléments    */
/****************************************************/
* {
    box-sizing: border-box;
}
/* Google font "Roboto" pour toute la page body et titres + paragraphes*/
body, h1, h2, h3, h4, h5, h6, p ,hr {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    color: black;
    text-decoration: none;
}
img {
    width: 100%;
}
ol {
    list-style-type: none;
}
.centrer {
    text-align: center;
}
/******** loader spinner  ****/
#chargement {
	display: block;
	font-family: sans-serif;
	font-size: 40px;
    width: 100%;
	height: 100%;
	line-height: 1000px;
	color: black;
	background-color: black;	
	margin: 0;
	padding: 0;
    animation-name: couleurdefond;
    animation-duration: 5s;
    animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes couleurdefond {
    0% {background-color: #ff79da;}
    33% {background-color: #9356dc;}
    100% {background-color: #99e2d0;}
}
.texte {
    display: inline;
}
.loader {
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border: 12px solid #9356dc;
	border-radius: 50px;
}
.ch1::before {
	content:'';
	position: absolute;
	top: -12px;
	right: -12px;
	bottom: -12px;
	left: -12px;
	border: 12px solid transparent;
	border-top-color: #ff79da;
	border-right-color: #ff79da;
	border-radius: 50px;
	animation-name: spin;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.ch2::after {
	content:'';
	position: absolute;
	top: -12px;
	right: -12px;
	bottom: -12px;
	left: -12px;
	border: 12px solid transparent;
	border-bottom-color: #99e2d0;
	border-left-color: #99e2d0;
	border-radius: 50px;
	animation-name: spin-reverse;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes spin-reverse {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-360deg); }
}
/*** fin du loader spinner ****/
/******** Section Principale "main"   *****/
#principale {
    display: none;
}
/********  header   ******/
.flex-header {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.flex-menu-header {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
/******* logo OHMYFOOD  *******/
#logo {
    font-family: 'Shrikhand', cursive;
    font-size: 250%;
    margin: 30px 0;
    padding: 0;
}
.barre {
    width: 100%;
    height: 13px;
    background-image: linear-gradient(#d2d2d2, #f2f2f2);
    border-top: 1px solid white;
}
.flex-ville {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f2f2f2;
}
.saisie-ville {
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    width: 150px;
    text-align: left;
    border: none;
    background-color: #f2f2f2; 
    margin: 10px 0 10px 10px;
}
.fond-gris-blanc {
    width: 100%;
    height: 390px;
    background-color: white;
}
.slogan {
    font-weight: bold;
    font-size: 150%;
    margin: 70px 30px 30px 30px;
}
.decouvrez{
    font-size: 145%;
}
.explorer {
    display: flex;
    justify-content: center;
}
.btn-explorer-restaurants {
    width: 320px;
    height: 70px;
    font-size: 140%;
    color:white;
    background-color: #9356dc;
    background-image: linear-gradient(#ff79da,#9356dc);
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    margin: 20px 0 110px 0;
}
.btn-explorer-restaurants:hover {
    box-shadow: 0px 10px 20px 3px rgba(0,0,0,0.8);
    opacity: 70%;
}
.espace {
    width: 100%;
    height: 50px;
}
/**********  Section fonctionnement   **********/
.positionnement-fonctionnement {
    margin: 0;
    padding: 0;
}
.titre-fonctionnement {
    font-size: 150%;
    margin-left: 60px;
}
.liste-fonctionnement {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 40px 55px;
    padding: 0;
}
.menu-fonctionnement {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    position: relative;
    width: 510px;
    height: 80px;
    margin: 15px 0 15px 0;
    padding-top: 25px;
    background-color: #f2f2f2;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.macaron {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10px;
    bottom: 3px;
    width: 35px;
    height: 35px;
    font-size: 160%;
    color: white;
    background-color: #9356dc;
    padding: 3px;
    border-radius: 50%;
}
.icon {
    padding-top: 4px;
}
.text-fonctionnement {
    font-size: 130%;
    font-weight: bold;
    margin-left: 25px;
}
.positionnement-restaurants {
    background-color: #f2f2f2;
}
.titre-restaurants {
    font-size: 150%;
    margin-left: 60px;
    padding: 50px 0;
}
.flex-restaurant {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 15px;
}
.cadre-titres-restaurants {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    border-radius: 50px;
    padding: 30px;
    background-color: #f2f2f2;
    z-index: 2;
}
.nouveau {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100px;
    height: 40px;
    color: darkgreen;
    background-color: #99e2d0;
    padding: 10px 0;
}
/******** remplissage des coeurs  *******/
.coeur-n1 {
	width: 35px;
	height: 35px;
	position: relative;
	z-index: 1;
	top: 0px;
	left: -15px;
	color:red;
}
.coeur-n2 {
	width: 35px;
	height: 35px;
	position: absolute;
	z-index: 2;
	top: 0px;
	left: -15px;
	transition: height 3.5s;
}
.coeur-n3 {
	width: 35px;
	height: 35px;
	position: absolute;
	z-index: 3;
	top: 0px;
	left: -15px;
	color:black;
	background-color: transparent;
}
.coeur-n3:hover + .coeur-n2 {
	height: 0;
}
.fond-gris {
    background-color: #f2f2f2;
}
.fond-blanc {
    background-color: white;
}
/********* fin du remplissage des coeurs
/******** pages details des restaurants  *********/
.icon-retour-acceuil {
    float: left;
    margin: 20px 0 0 30px;
}
.cadre-photo-restaurants {
    width: 100%;
    height: 450px;
}
.photo-header {
    position: absolute;
    width: 100%;
    height: 500px;
    padding: 0;
    object-fit: cover;
    z-index: -1;
}
.menu-wrap {
    display: flex ;
    flex-direction: row;
    justify-content: center;
}
.menu-alignement {
    display: flex ;
    flex-flow: column wrap;
    justify-content: center;
    width: 1400px;
    background-color: #f2f2f2;
    border-radius: 30px 30px 0 0;
}
.titres-restaurants {
    display: flex;
    position: relative;
    font-family: 'Shrikhand', cursive;
    font-size: 180%;
    font-weight: normal;
    margin: 0 0 18px 0;
    padding: 0;
}
.menu-edition {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.titres-menu {
    color: black;
    margin: 25px 0 0 10px;
}
.tiret {
    width: 50px;
    height: 1px;
    margin-left: 10px;
    border: 2px solid #99e2d0;
}
.photo-restaurants {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.cadre-legend-restaurants {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    margin: 10px 0 0 15px;
    padding: 0;
}
.coeurs-accueil {
    position: relative;
}
.legend-retaurant {
    font-size: 100%;
}
.coeur-restaurant {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #f2f2f2;
}
.cadre-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 400px;
    height: 75px;
    position: relative;
    background-color:#f2f2f2;
    margin: 20px 0 0 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: mouvement;
	animation-duration: 3s;
}
@keyframes mouvement {
	from {top: 20px;}
	to {top: 0px;}
}
.titre-plat {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    width: 398px;
	overflow: hidden;
    text-overflow: ellipsis;
}
.titre-column {
	display:flex;
	flex-direction: column;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 15px 0 0 15px;    
}
.description-menu {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tarif {
    width: 45px;
    height: 75px;
    font-weight: bold;
    padding: 38px 15px 0 0;
}
.validation {
	display:flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 0;
	height: 75px;
	color: white;
	font-size: 24px;
	border-radius: 0 20px 20px 0;
	background-color: #99e2d0;
    transition: width 3s;
	opacity:0;
}
@keyframes rotation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }
.tourne {
	animation-name: rotation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
.titre-plat:hover + .validation {
	width: 100px;
	opacity: 1;
}
.btn-commander {
    width: 200px;
    height: 45px;
    color:white;
    background-color: #9356dc;
    background-image: linear-gradient(#ff79da,#9356dc);
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px 0 65px 0;
}
.btn-commander:hover {
    box-shadow: 0px 10px 20px 3px rgba(0,0,0,0.8);
    opacity: 70%;
}
/********  Pied de Page   ********/
.block-pied-de-page {
    width: 100%;
    color: white;
    background-color: black;
    text-align: left;
    margin-top: 80px;
    padding: 25px;
}
.titre-pied-de-page {
    font-family: 'Shrikhand', cursive;
    font-size: 150%;
    margin-bottom: 20px;
    padding: 0;
}
.liste-pied-de-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
.lignes-pied-de-page {
    margin: 0 15px 10px 0;
}
.icon-pied-de-page-utensils {
    padding-right: 20px;
}
.icon-pied-de-page-handshake {
    padding-right: 14px;
}
.liens-pied-de-page{
    text-decoration: none;
    color: white;
}
/******   Fin du css Pied de Page    ********/
/************* Media Queries  *******/
/*** polariod en mode pc ecrans > 992 px => hauteur = 500px   ****/
.polaroid-restaurants {
    position: relative;
    width: 20%;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/***** polaroid en mode tablette ecrans entre 768 et 992 px hauteur => 450px *****/
@media screen and (max-width: 992px ) {
    .flex-restaurant {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .menu-fonctionnement {
        width: 250px;
    }
    .liste-fonctionnement {
        margin-left: 0 ;
    }
    .text-fonctionnement {
        font-size: 95%;
        margin: 10px 0 0 8px;
    }
    .polaroid-restaurants {
        width: 45%;
        height: 180px;
    }
    .cadre-legend-restaurants {
        margin: 6px 0 0 15px;
    }
}
/***** polaroid en mode mobile ecrans entre  < 768^px et 992 px hauteur => 300px *****/
@media screen and (max-width: 768px ) {
    .fond-gris-blanc {
        background-color: #f2f2f2;
    }
    .flex-restaurant {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
    }
    .polaroid-restaurants {
        width: 95%;
        height: 300px;
    }
    .menu-fonctionnement {
        width: 380px;
    }
    .liste-fonctionnement {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .liste-pied-de-page {
        display: flex;
        flex-flow: column nowrap;
    }
}
/*****   Fin du code CSS    ********/